@using Microsoft.AspNetCore.Identity
@model IEnumerable<UnityHub.Models.Utilizadores>
@inject UserManager<UnityHub.Models.Utilizadores> UserManager


@{
    ViewData["Title"] = "Index";
}

<h1>Lista de utilizadores</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telemovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        var roles = await UserManager.GetRolesAsync(item); // Obtém os papéis do utilizador
        if (!roles.Contains("admin")) // Exclui os utilizadores com o papel de Admin
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Telemovel)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.DataNascimento)</td>
                <td>@Html.DisplayFor(modelItem => item.Cidade)</td>
                <td>@Html.DisplayFor(modelItem => item.Pais)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
}
    </tbody>
</table>
