<div class="container mt-5">
    <h1 class="text-center mb-5">@ViewData["Title"]</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var vaga in Model)
        {
            <div class="col">
                <div class="card h-100 position-relative">
                    <img src="@Url.Content("~/images/" + vaga.Fotografia)" class="card-img-top" alt="Imagem da Vaga" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@vaga.Nome</h5>
                        <p class="card-text">@vaga.Descricao</p>
                    </div>
                    <div class="card-footer bg-transparent border-0">
                        <a href="@Url.Action("Details", "Home", new { id = vaga.Id })" class="btn btn-primary w-100">
                            <i class="fas fa-info-circle"></i> Ver Detalhes
                        </a>
                    </div>
                    <!-- Overlay -->
                    <div class="card-overlay"></div>
                </div>
            </div>
        }
    </div>
</div>
